<% include ../partials/homeHeader %>

<div class="container">
	<div class="row">
		<div class="col-3">
			<ul class="tag">
			<strong><h3>Tag List</h3></strong>
			<li>Test Tag</li>
			<% posts.forEach(function(post){ %>	
				<% if(post.tag.toLowerCase() === "test"){ %>
					<ul>
						<li><a href="/homepage/<%= post._id%>"><%= post.title %></a></li>
					</ul>
				<% } %>
			<% }) %> 
			<% posts.forEach(function(post){ if(post.tag.toLowerCase() !== "test"){ %>
					<li><%= post.tag %></li>
					<ul>
						<li><a href="/homepage/<%= post._id%>"><%= post.title %></a></li>
					</ul>
				<% } %>	
			<% }) %> 
			</ul>
		</div>
		<a href="/homepage/new">Add New Post</a>
		<div class="col-9">
			<% posts.forEach(function(post){ %>
				<div class="article">
					<p><%= post.createdAt.toLocaleString() %></p>
					<div class="article_head">
						<h2><%= post.title %></h2>
						<h4><%= post.tag %></h4>
					</div>
					<p><%= post.text.substring(0, 100) %> ...</p>
					<a href="/homepage/<%= post._id %>">Read more...</a>
				</div>
			<% }) %>
		</div>
	</div>
	
	

</div>

<script type="text/javascript" src="/scripts/index.js"></script>
<% include ../partials/footer %>