<% include ../partials/homeHeader %>


	<div class="row">
		<div class="col-3 tag-list">
			<ul class="tag">
			<strong><h3>Tag List</h3></strong>
			<li>Test</li>
			<% posts.forEach(function(post){ %>	
				<% if(post.tag.toLowerCase() === "test"){ %>
					<ul>
						<li><a href="/homepage/<%= post._id%>"><%= post.title %></a></li>
					</ul>
				<% } %>
			<% }) %> 
			<li>React.js</li>
			<% posts.forEach(function(post){ %>	
				<% if(post.tag.toLowerCase() === "type_1"){ %>
					<ul>
						<li><a href="/homepage/<%= post._id%>"><%= post.title %></a></li>
					</ul>
				<% } %>
			<% }) %> 
			<li>Type_1</li>
			<% posts.forEach(function(post){ %>	
				<% if(post.tag.toLowerCase() === "type_2"){ %>
					<ul>
						<li><a href="/homepage/<%= post._id%>"><%= post.title %></a></li>
					</ul>
				<% } %>
			<% }) %> 
			</ul>
		</div>
		<% if(currentUser){ %>
		<a href="/homepage/new">Add New Post</a>
		<% } %>
		<div class="col-9">
			<% posts.forEach(function(post){ %>
				<div class="article">
					<p><%= post.createdAt.toLocaleString() %></p>
					<div class="article_head">
						<a href="/homepage/<%= post._id%>"><h2><%= post.title %></h2></a>
						<h4><%= post.tag %></h4>
					</div>
					<p><%= post.text.substring(0, 100) %> ...</p>
					<a href="/homepage/<%= post._id %>">Read more...</a>
				</div>
			<% }) %>
		</div>
	</div>



<% include ../partials/homeFooter %>